
<div class="grid sm:grid-cols-2 gap-0 justify-center">
    <div class="hidden sm:block sm:ml-[40px] sm:mt-[40px] w-[300px] min-h-[600px] bg-pink-900">
      <!-- <h1 class="text-[32px] font-bold text-white ml-5 mt-2">Welcome to Blah Blah</h1>
      <p class="mx-5 mt-8 font-semibold font-sans text-[16px] text-white">BlahBlah is the ultimate social networking hub that turns every conversation into a vibrant experience. Whether you're sharing your latest triumphs, diving into deep discussions, or simply catching up on the buzz, Join us today, and let's turn your chatter into a symphony of connections!</p> -->
    </div>
    <div class="sm:mr-[40px] sm:mt-[40px] mt-20 sm:w-auto w-[300px] min-h-[500px] bg-purple-900 "></div>
  </div>



  style={{ backgroundImage: `linear-gradient(90deg, rgba(0,100,290,0.6), rgba(130,140,160,0.6)), url(${img})`, backgroundSize: 'cover' }}


  for button 

  style={{ 
    backgroundImage: `linear-gradient(45deg, rgba(0,100,140,0.6), rgba(130,140,160,0.6)), url(${img})`, 
    backgroundSize: 'cover',
    transition: 'background-image 0.3s ease-in-out'
  }}